lion-option {
  &[checked] {
    color: var(--color-surface);
    border: 2px solid var(--color-error);
    background-color: color-mix(in srgb, var(--color-error) 50%, white);

    &[data-expected] {
      border-color: var(--color-success);
      background-color: color-mix(in srgb, var(--color-success) 50%, white);
    }
  }
}
