<div class="home-container">
  <section class="intro">
    <p>Welcome to my frontend lab.</p>
    <p>
      This project explores reusable components made with various frameworks.
      Currently Angular and Lion (ING) are used.
    </p>
  </section>

  <section class="features">
    <div class="feature-grid">
      <div class="feature-card">
        <h3>Hierarchical folder tree (angular)</h3>
        <p>Implementing checkbox based hierarchical folder tree</p>
        <a routerLink="/folder-tree" class="feature-link">View Tree Demo</a>
      </div>
      <div class="feature-card">
        <h3>Locked selection (lion)</h3>
        <p>Implementing lion based locked selection control</p>
        <a routerLink="/lion-locked-selection" class="feature-link"
          >View Locked Selection</a
        >
      </div>
      <div class="feature-card">
        <h3>Integer digit matcher (lion)</h3>
        <p>
          Implementing lion based control accepting and integer and checking
          each digit matching the source integer
        </p>
        <a routerLink="/lion-integer-digit-match" class="feature-link"
          >View Integer Digit Matcher</a
        >
      </div>
    </div>
  </section>
</div>
