<div class="home-container">
  <section class="intro">
    <p>Welcome to my frontend lab.</p>
    <p>
      This project explores interesting Angular patterns and component
      architectures
    </p>
  </section>

  <section class="features">
    <div class="feature-grid">
      <div class="feature-card">
        <h3>Hierarchical Folder Tree</h3>
        <p>Implementing checkbox based hierarchical folder tree</p>
        <a routerLink="/folder-tree" class="feature-link">View Tree Demo</a>
      </div>
      <div class="feature-card">
        <h3>Lion based locked selection demo</h3>
        <p>Implementing lion based locked selection control</p>
        <a routerLink="/lion-locked-selection" class="feature-link"
          >View Locked selection demo</a
        >
      </div>
    </div>
  </section>
</div>
