lion-option {
  background-color: var(--color-surface);
  margin: 0.5rem 0;
  width: 100%;
  border: 2px solid var(--color-surface);

  &:hover {
    background-color: var(--color-surface-hover);
    border-color: var(--color-primary);
  }

  &[checked] {
    color: var(--color-surface);
    border: 2px solid var(--color-error);
    background-color: color-mix(in srgb, var(--color-error) 50%, white);

    &[data-expected] {
      border-color: var(--color-success);
      background-color: color-mix(in srgb, var(--color-success) 50%, white);
    }
  }
}

.container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  > div {
    border: 2px solid var(--color-surface-hover);
    padding: 1rem;
    border-radius: var(--border-radius);
  }
}

fl-lion-locked-selection {
  display: block;
  margin-left: 2rem;
}
