:host {
  --item-selector-width: 275px;
}

.demo-container {
  display: flex;
  gap: var(--spacing-unit);
  padding: var(--spacing-unit);
}

.selected-items {
  padding: var(--spacing-unit) 0;
}

.tree-container {
  background-color: var(--color-surface-hover);
  padding: var(--spacing-unit);
  border-radius: var(--border-radius);
}

fl-form-folder-tree,
fl-form-folder-tree-ctx {
  background-color: var(--color-surface);
  width: var(--item-selector-width);
  border: 1px solid var(--color-border);
  display: block;
  max-height: 400px;
  overflow-y: auto;
  border-radius: var(--radius-base);
}

.action-bar {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  gap: calc(var(--spacing-unit) / 2);
}

.action-button {
  background-color: var(--color-primary);
  color: var(--color-surface);
  padding: calc(var(--spacing-unit) / 2);
  border-radius: var(--radius-base);
  border: none;
}
