<div class="flex justify-between p-4 items-center">
  <button
    class="border-1 p-1 rounded cursor-pointer hover:bg-gray-200"
    (click)="toggleMenu()"
    [class.active]="isMenuOpen"
    aria-label="Toggle navigation menu"
  >
    <span class="material-symbols-outlined">menu</span>
  </button>

  <h1 class="text-xl m-0">
    <a href="/">Front lab<small class="block text-right">(beta)</small></a>
  </h1>

  <nav class="main-nav" [class.open]="isMenuOpen">
    @for(navItem of nav; track navItem.route) {
    <a
      class="hover:color-primary hover:underline p-2 text-xs"
      routerLink="{{'/' + navItem.route}}"
      routerLinkActive="active"
      (click)="closeMenu()"
      >{{navItem.navItemText}}</a
    >
    }
  </nav>
  @if (isMenuOpen) {
  <div
    class="menu-overlay"
    (click)="closeMenu()"
    (keydown)="closeMenu()"
    tabindex="0"
  ></div>
  }
</div>
